<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script src="/javascript/script.js"></script>
</head>
<body>
        <div class="box header">Header</div>
        <div class="box sidebar">Sidebar</div>
        <div class="box content">Content
            <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan lacinia dapibus. Nullam eu malesuada ligula. Ut id posuere libero. Vestibulum at ex metus. Suspendisse aliquet feugiat augue vitae porttitor. Aliquam erat volutpat. Nunc at mollis odio, ut molestie nunc. Suspendisse at nisl semper, pharetra tortor cursus, maximus turpis.

            <br />Aliquam nec urna et nunc euismod cursus. Sed suscipit sem ac erat elementum efficitur in a orci. Pellentesque augue tortor, volutpat nec tempor quis, congue suscipit sapien. Morbi eget nisl augue. Maecenas placerat, orci vitae pellentesque sollicitudin, ex tellus blandit nisl, et vestibulum augue metus ut nisl.
            
            <br />Fusce mattis dui enim, eu vestibulum purus elementum vel. Cras blandit ex odio, quis gravida ante rhoncus ultrices. Suspendisse vel bibendum mauris. Donec pretium augue non pulvinar efficitur. Etiam quis purus quis est varius elementum. Nulla efficitur odio et erat porttitor, quis vehicula leo efficitur. Nulla facilisi. Quisque pharetra auctor eros eu tempus.

            <br />Maecenas mollis condimentum varius. Sed vestibulum ex libero, gravida ornare sem tristique ut. Maecenas nec erat nulla. Praesent neque ex, vulputate non sollicitudin nec, tempus luctus odio. Proin rhoncus, erat eu varius ornare, erat massa venenatis est, et imperdiet elit ex sit amet dolor.
            
            <br />In lacinia nisi orci, ut placerat ligula tempus vitae. Suspendisse feugiat eleifend consequat. Nulla imperdiet, arcu ut consequat rutrum, metus sem dignissim augue, vitae egestas urna dui vitae turpis. Duis malesuada eros non justo tempus pharetra.

            <br />Nam eu eros scelerisque nunc dictum consequat. Vestibulum vehicula nisl eu nulla ultricies, a scelerisque augue aliquet. Sed id quam at odio fringilla gravida. Etiam vulputate dui eget accumsan consequat. Pellentesque aliquet nulla pellentesque fermentum iaculis.
            
            <br />Etiam congue rhoncus bibendum. Mauris nunc lorem, molestie vitae suscipit non, tempus sit amet turpis. Phasellus nec volutpat lacus. Donec porta, sapien in sollicitudin sodales, orci risus volutpat arcu, eu interdum erat ante at nisi. Suspendisse iaculis egestas orci, vitae aliquam mauris gravida ac. Mauris molestie facilisis augue nec dignissim. Vivamus imperdiet tellus nec turpis ornare dignissim.

            <br />Nulla quis pretium nisl. In interdum justo sapien, in finibus orci varius ac. Pellentesque in interdum massa. Suspendisse potenti. Ut orci est, porta sit amet justo sed, fermentum euismod tortor. Phasellus gravida lectus at pellentesque pellentesque. Praesent ut nulla tortor.
            
            <br />Vestibulum lacinia gravida auctor. Nulla non volutpat nibh. Nulla facilisi. Morbi pulvinar auctor purus quis tristique. Aliquam eu enim aliquam nunc tristique pellentesque. Ut ut lorem dapibus, lacinia lorem non, venenatis nibh. Donec lobortis diam eget ante placerat, eu pulvinar nisl lobortis.
        </div>
        <div class="box footer">Footer</div>
</body>
</html>